.env
*.log

PetitSuiviAdminFrontEndV1/.env
PetitSuiviAdminFrontEndV1/node_modules/
PetitSuiviAdminFrontEndV1/build/

PetitSuiviBackendV1/.env
PetitSuiviBackendV1/vendor/
PetitSuiviBackendV1/bootstrap/cache/*.php
PetitSuiviBackendV1/storage/logs/*.log
PetitSuiviBackendV1/storage/framework/cache/**
PetitSuiviBackendV1/storage/framework/sessions/**
PetitSuiviBackendV1/storage/framework/views/**

PetitSuiviMobileFrontEndV1/.dart_tool/
PetitSuiviMobileFrontEndV1/build/
PetitSuiviMobileFrontEndV1/.flutter-plugins
PetitSuiviMobileFrontEndV1/.flutter-plugins-dependencies
PetitSuiviMobileFrontEndV1/.packages

copilot-api/node_modules/
