@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: #f5f7fb;
}

.app {
  height: 100vh;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  position: relative;
}

.content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 0; /* Prevents flex child from blowing out parent's width */
  font-family: "Source Sans Pro", sans-serif;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
